<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <namesection>   <!--section name-->
            <namegroup>     <!--group name-->
                <namefeild>nick</namefeild> <!--feild name-->
            </namegroup>
        </namesection>
    </default>
</config>