<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pointeger_show_product" translate="label" sortOrder="10">
            <label>Show Products</label>
        </tab>
        <section id="show_product" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Show Products</label>
            <tab>pointeger_show_product</tab>
            <resource>Magento_Catalog::config_catalog</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Show Products</label>
                <field id="show_products" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Products</label>
                    <source_model>Pointeger\Crud\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
